.reveal {
    font-family: "Merriweather", Helvetica, sans-serif;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-family: "Oswald", Helvetica, sans-serif;
}

.reveal img {
    box-shadow: 0 !important;
    border: 0 !important;
}
